body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header,
main,
footer {
  padding: 20px;
}

header {
  background-color: #c6b5b5;
}

footer {
  background-color: #736464;
}
section {
  margin-bottom: 24px;
}

section h2 {
  margin-top: 0;
}
